#ifndef SECRETS_H
#define SECRETS_H

#define WIFI_SSID_1 ""
#define WIFI_PASSWORD_1 ""

#define WIFI_SSID_2 ""
#define WIFI_PASSWORD_2 ""

#define WIFI_SSID_3 ""
#define WIFI_PASSWORD_3 ""

#define INFLUXDB_URL ""
#define INFLUXDB_TOKEN ""
#define INFLUXDB_ORG ""
#define INFLUXDB_BUCKET ""
#define TZ_INFO ""

#endif